.index{
    width: 1000px;
    margin: 0 auto;
}
.header{
    position: relative;
    background-color: rgba(230, 173, 176, 0.829);
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
}
.header #left{
    color: rgb(23, 68, 128);
    font-size: 20px;
}
.header #right{
    font-size:16px ;
}
.header img{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 110px;

}
.center{

    background-color: rgb(209, 253, 10);
    text-align: center;
    padding: 20px;
    font-family: cursive;
    font-weight: bold;
}
.center .row{
    display: flex;
    justify-content: center;
}
.center .row div{
    height: 260px;
    width: 170px;
    background-color: rgb(210, 241, 250);
    margin: 10px;
    
}
.center img{
    width: 90%;
    height: 220px;
    margin-top: 10px;
}
#footer {
    background-color: rgb(210, 250, 245);
}
.footer{
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;

}
.footer .font{
    font-size: large;
}
.footer .img img{
    width: 165px;
    height: 165px;
    right: 100px;
    top: 50px;
}
hr {
    width: 50px;
    color: rgb(109, 1, 1);
}
.bottom hr{
    width: 80%;
}
.bottom{
    font-size: 17px;
    text-align: center;
    line-height: 30px;
}